# All development and testing tools are bought here from requirements.txt

# Nose, PyTest, UniTest is a testing framework in python
nose>=1.3.7
pytest>=3.8.0
unittest2>=1.1.0

# Twine is required to upload files to PyPI
twine>=1.11.0
